@charset "utf-8";

/* Utils  */
@import url(font_face.css);
@import url(util.css);

/* Portlet  */
@import url(portlets/portlet_5.css);
@import url(portlets/portlet_13.css);
@import url(portlets/portlet_16.css);
@import url(portlets/portlet_18.css);
@import url(portlets/portlet_26.css);
@import url(portlets/portlet_11.css);
@import url(portlets/portlet_10.css);
@import url(portlets/portlet_login.css);
@import url(portlets/portlets_custom.css);
@import url(portlets/portlet_19_20_22.css);
@import url(portlets/portlet_6.css);

/* Components  */
@import url(button.css);
@import url(input.css);
@import url(nav_toolbar.css);
@import url(searchcontainer.css);
@import url(header.css);
@import url(nav_menu.css);
@import url(portlets/portlet_popup.css);
@import url(page_iterator.css);
@import url(toptabs.css);
@import url(content.css);
@import url(footer.css);



/*----- Lucene Menu -----*/
.opencps-theme.ux .lucene-menu-wrapper {
    border: 1px solid #ccc;
}
.opencps-theme.ux .lucene-menu-wrapper .level-1 {
	background-color: #0074cd;
	margin: -1px -1px 0;
	padding: 1px 1px 0;
	font-family: 'Roboto-Bold';
}
.opencps-theme.ux .lucene-menu-wrapper .menu-item {
	border-bottom: 1px solid #ccc;
}
.opencps-theme.ux .lucene-menu-wrapper .menu-item a {
    display: block;
    padding: 5px 10px;
    position: relative;
}
.opencps-theme.ux .lucene-menu-wrapper .level-1 a {
	color: white;
}
.opencps-theme.ux .lucene-menu-wrapper .level-3 {
    padding-left: 20px;
}
.opencps-theme.ux .lucene-menu-wrapper .level-4 {
    padding-left: 40px;
}
.opencps-theme.ux .lucene-menu-wrapper .menu-item .item-value {
    display: inline-block;
    padding: 2px 9px;
    font-size: 11px;
    font-weight: bold;
    line-height: 14px;
    color: #fff;
    vertical-align: baseline;
    white-space: nowrap;
    background-color: #999;
    border-radius: 9px;
    position: absolute;
    top: 5px;
    right: 8px;
}